* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

body {
  padding: 1em;
  background-image: url(../images/universoCom.jpg);
  background-size: cover;
  min-height: 100vh;
}

/* dropdown arrow and menu */
.arrow {
  text-decoration: none;
}

i {
  font-size: 3em;
  margin-left: 96%;
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  color: white;
  background-color: rgb(40 39 76);
  border-radius: 50%;
}

.status {
  margin: -0.2em 0 0 57em;
  color: white;
}

.menu {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 2vw;
  top: 4.5vw;
  background-color: rgb(240, 240, 240);
  visibility: hidden;
  border-radius: 0.8em;
}

.menu a {
  font-size: 1.3em;
  text-decoration: none;
  margin: 0.2em;
}

.menu.open {
  visibility: visible;
}

.instructionOne {
  text-align: center;
  margin-top: 40vh;
  transform: translateY(-50%);
  font-weight: 100;
  font-size: 0.1em;
  color: white;
  transition: all 700ms linear;
  visibility: hidden;
}

.instructionOne.grow {
  font-size: 2em;
  font-weight: 600;
  visibility: visible;
}

#modalOneBtn {
  margin: 2.7em 50vw 0;
  transform: translateX(-50%);
  font-size: 1.6em;
  border-radius: 10px;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgb(152, 152, 158);
  display: none;
}

#modalOneBtn.open {
  display: block;
}

.modalOne {
  position: absolute;
  top: 8em;
  left: 24em;
  width: 44vw;
  padding: 1.5em;
  border-radius: 2em;
  background-color: rgb(140 207 255);
  display: none;
}

.modalOne.open {
  display: block;
}

.modalOneParagraph {
  margin: 0.5em;
  font-weight: 600;
}

.modalInstruction {
  padding: 1em 1em 0;
  font-size: 0.8em;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container p {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.colOne div,
.colTwo div,
.colThree div {
  display: flex;
  justify-content: flex-end;
  margin: 0.3em;
}

.container label {
  font-size: 1.2em;
}

.ans-btn-class {
  margin-top: 0.5em;
  font-size: 1.1em;
  padding: 0.2em;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 3px 4px 5px rgba(66, 104, 144, 1);
}

input {
  width: 3em;
  font-size: 1em;
  font-weight: 600;
}

button {
  cursor: pointer;
}

.modalTwo {
  position: absolute;
  top: 7em;
  left: 27em;
  width: 33vw;
  padding: 1.5em;
  border-radius: 2em;
  background-color: rgb(140 207 255);
  display: none;
  transition: all 500ms linear;
}

.modalTwo.open {
  display: block;
}

.modalTwo.extra {
  left: 40em;
}

.modalTwoPar {
  font-size: 1.2em;
}

.container-two input {
  margin: 1em 0em 1em 1em;
  padding: 0 0.5em;
  width: 10em;
  height: 1.8em;
  font-size: 1.2em;
  border-radius: 0.3em;
}

.container-two button {
  font-size: 1.1em;
  border-radius: 0.2em;
  padding: 0.3em;
  width: 9em;
}

.container-two .not-infinitive {
  color: red;
  font-size: 1.1em;
  font-weight: 600;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.modalThree {
  position: absolute;
  top: 4em;
  left: 5em;
  width: 30vw;
  background-color: rgb(140 207 255);
  padding: 1em;
  font-size: 1.8em;
  border-radius: 1.4em;
  display: none;
}

.modalThree.open {
  display: block;
}

.modalThree p {
  font-size: 0.5em;
  text-align: center;
  margin: 0 1em 1em;
}

.modalThreeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}

.modalThree li {
  list-style: none;
}

.modalThree form {
  display: flex;
  justify-content: space-evenly;
}

.modalThree input {
  border-radius: 0.3em;
  width: 9em;
  font-size: 0.7em;
  padding: 0.1em 0.5em;
}

.modalThree button {
  font-size: 0.6em;
  border-radius: 0.3em;
  padding: 0.3em;
  width: 9em;
}

@media (max-width: 768px) {
  .menu {
    padding: 0.5em;
    right: 10vw;
    top: 1vw;
  }
  .status {
    margin: 0em;
  }
  .instructionOne {
    margin-top: 28vw;
  }
  #modalOneBtn {
    margin-top: -2vw;
  }
  .modalOne {
    top: 24vw;
    left: 7vw;
    width: 85vw;
    margin-bottom: 5vw;
  }
  .modalTwo {
    top: 25vw;
    left: 4vw;
    width: 90vw;
  }
  .container-two input {
    margin-left: 12vw;
  }
  .container-two button {
    margin-left: 2em;
  }
  .modalThree {
    top: 28vw;
    left: 4vw;
    width: 90vw;
    padding: 0.5em;
  }
  .modalThree input {
    margin-bottom: 1em;
    width: 8em;
  }
  .modalThree button {
    margin-bottom: 1.1em;
  }
  .modalTwo.extra {
    left: 4vw;
    top: 94vw;
    margin-bottom: 2vw;
  }
}

@media (max-width: 425px) {
  .menu {
    padding: 0.5em;
    right: 5vw;
    top: 19vw;
  }
  .status {
    margin: 0em;
  }
  .instructionOne {
    margin-top: 82vw;
  }
  #modalOneBtn {
    margin-top: -22vw;
  }
  .modalOne {
    width: 90vw;
    left: 5vw;
    top: 70vw;
  }
  .container {
    flex-direction: column;
  }
  .modalOneParagraph {
    margin: 0em;
    font-weight: 100;
  }
  .colOne div,
  .colTwo div,
  .colThree div {
    margin: 2vw 20vw 2vw 0vw;
  }
  .modalInstruction {
    padding: 1em 0em 0;
    font-size: 0.7em;
  }
  .ans-btn-class {
    font-size: 1em;
  }
  .modalTwo {
    top: 68vw;
    left: 4.8vw;
    width: 90vw;
  }
  .container-two button {
    margin-left: 2em;
  }
  .container-two input {
    margin-left: 0vw;
  }
  .modalThree {
    top: 68vw;
    left: 4.8vw;
    width: 90vw;
    padding: 0.5em;
  }
  .modalThree input {
    margin-bottom: 1em;
    width: 8em;
  }
  .modalThree button {
    margin-bottom: 1.1em;
  }
  .modalTwo.extra {
    left: 4.8vw;
    top: 200vw;
    margin-bottom: 5vw;
  }
}
