* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

body {
  padding: 1em;
  background-image: url(../images/universo.jpg);
  background-size: cover;
}

/* dropdown arrow and menu */
.arrow {
  text-decoration: none;
}

i {
  font-size: 3em;
  margin-left: 96%;
  position: absolute;
  top: 0em;
  right: 0.1em;
  color: white;
}

.status {
  margin: -0.2em 0 0 53em;
  color: white;
}

.menu {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 2.1%;
  top: 6%;
  background-color: rgb(240, 240, 240);
  visibility: hidden;
  border-radius: 0.8em;
}

.menu a {
  font-size: 1.3em;
  text-decoration: none;
  margin: 0.2em;
}

.menu.open {
  visibility: visible;
}

.instructionOne {
  text-align: center;
  margin-top: 40vh;
  transform: translateY(-50%);
  font-weight: 100;
  font-size: 0.1em;
  color: white;
  transition: all 500ms linear;
  visibility: hidden;
}

.instructionOne.grow {
  font-size: 2em;
  font-weight: 600;
  visibility: visible;
}

#modalOneBtn {
  margin: 2.7em 50vw 0;
  transform: translateX(-50%);
  font-size: 1.6em;
  border-radius: 10px;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgb(152, 152, 158);
  display: none;
}

#modalOneBtn.open {
  display: block;
}

.modalOne {
  position: absolute;
  top: 8em;
  left: 24em;
  width: 40em;
  padding: 1.5em;
  border-radius: 2em;
  background-color: rgb(140, 195, 255);
  display: none;
}

.modalOne.open {
  display: block;
}

.modalInstruction {
  padding: 1em 1em 0;
  font-size: 0.8em;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container p {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.colOne div,
.colTwo div,
.colThree div {
  display: flex;
  justify-content: flex-end;
  margin: 0.3em;
}

.container label {
  font-size: 1.2em;
}

.ans-btn-class {
  margin-top: 0.5em;
  font-size: 1.1em;
  padding: 0.2em;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 3px 4px 5px rgba(66, 104, 144, 1);
}

#add-verb-form {
  display: flex;
  flex-direction: column;
}

form button {
  width: 10em;
}

input {
  width: 3em;
  font-size: 1em;
  font-weight: 600;
}

.modalTwo {
  position: absolute;
  top: 7em;
  left: 27em;
  width: 34em;
  padding: 1.5em;
  border-radius: 2em;
  background-color: rgb(140, 195, 255);
  display: none;
}

.modalTwo.open {
  display: block;
}

.container-two input {
  margin-top: 5em;
  width: 10em;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
