* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

body {
  padding: 1em;
  background-image: url(../images/universoCom.jpg);
  background-size: cover;
  min-height: 100vh;
}

/* dropdown arrow and menu */
.arrow {
  text-decoration: none;
}

i {
  font-size: 3em;
  margin-left: 96%;
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  color: white;
  background-color: rgb(40 39 76);
  border-radius: 50%;
}

.status {
  margin: -0.2em 0 0 57em;
  color: white;
}

.menu {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 2.1%;
  top: 10%;
  background-color: rgb(240, 240, 240);
  visibility: hidden;
  border-radius: 0.8em;
}

.menu a {
  font-size: 1.3em;
  text-decoration: none;
  margin: 0.2em;
}

.menu.open {
  visibility: visible;
}

.modalOne {
  margin: 10vw;
  padding: 1.5em;
  border-radius: 2em;
  background-color: rgb(140 207 255);
}

#verb-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2em;
}

li {
  list-style: none;
  margin: 0.2em;
}

li button {
  margin-left: 1em;
  padding: 0.2em;
  border-radius: 0.4em;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 425px) {
  .status {
    margin: 0em;
  }
  .modalOne {
    margin: 30vw 0vw 3vh;
  }
  li button {
    display: block;
  }
  .menu {
    top: 11%;
  }
}
